<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.player0.app.mappers.BoardMapper">
	<insert id="write">
		INSERT
		INTO general_board(
		category_cd
		, title
		, content
		, tag
		, view_cnt
		, user_id
		, reg_date
		, edit_date
		) VALUES (
		'test'<!-- 임시 category_cd -->
		<!-- #{categoryCd} -->
		, #{title}
		, #{content}
		, #{tag}
		, #{view_cnt}
		<!-- , #{userId} -->
		, 'test'<!-- 임시 userId -->
		, SYSDATE
		, SYSDATE
		)
	</insert>

	<select id="select" resultMap="BoardResultMap">
		SELECT
		brd_no
		, category_cd
		, title
		, content
		, tag
		, view_cnt
		, user_id
		, reg_date
		, edit_date
		FROM
		general_board
		WHERE
		brd_no = #{brd_no}
	</select>

	<update id="update">
		UPDATE general_board
		SET
		title = #{title}
		, content = #{content}
		, edit_date = SYSDATE
		WHERE
		brd_no = #{brd_no}
	</update>

	<delete id="delete">
		UPDATE general_board
		SET
		edit_date = SYSDATE
		, delete_flg = 1
		WHERE
		brd_no = #{brd_no}
	</delete>

	<!-- 자유게시판 리스트 -->
	<select id="boardListPaging" resultMap="BoardResultMap">
		<![CDATA[
		SELECT 
		brd_no
		, category_cd
		, title
		, content
		, tag
		, view_cnt
		, reply_cnt
		, user_id
		, reg_date
		FROM
		general_board
		WHERE brd_no > 0 AND delete_flg <> 1
		]]>
		  <include refid="search"/>
		<![CDATA[
		ORDER BY brd_no DESC, reg_date DESC
		OFFSET #{startPage} ROWS 
		FETCH NEXT #{perPageNum} ROWS ONLY
		]]>
	</select>

	<!-- 게시글 수 -->
	<select id="countArticles" resultType="int">
	    <![CDATA[
	    SELECT
	        COUNT(brd_no)
	    FROM general_board
	    WHERE brd_no > 0
	    ]]>
	    <include refid="search"/>
	</select>

	<!-- 게시글 번호 습득 -->
	<select id="getBoardNo" resultType="int">
		SELECT
		brd_no
		FROM
		general_board
		WHERE brd_no = #{brd_no}
	</select>

	<!-- 검색 부분 쿼리 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()"> AND title LIKE '%' || #{keyword} || '%' </if>
			<if test="searchType == 'c'.toString()"> AND content LIKE '%' || #{keyword} || '%' </if>
			<if test="searchType == 'w'.toString()"> AND user_id LIKE '%' || #{keyword} || '%' </if>
			<if test="searchType == 'tc'.toString()"> AND ( title LIKE '%' || #{keyword} || '%' OR content
				LIKE '%' || #{keyword} || '%' ) </if>
			<if test="searchType == 'cw'.toString()"> AND ( content LIKE '%' || #{keyword} || '%' OR
 				user_id LIKE '%' || #{keyword} || '%' ) </if>
			<if test="searchType == 'tcw'.toString()"> AND ( title LIKE '%' || #{keyword} || '%' OR content
				LIKE '%' || #{keyword} || '%' OR user_id LIKE '%' ||
				#{keyword} || '%' ) </if>
		</if>
	</sql>

	<update id="updateReplyCnt">
		UPDATE general_board
		SET reply_cnt = reply_cnt + #{reply_cnt}
		WHERE brd_no = #{brd_no}
	</update>

	<update id="updateViewCnt">
		UPDATE general_board
		SET view_cnt = view_cnt + 1
		WHERE brd_no = #{brd_no}
	</update>

	<!-- Java와DB변수명이 다른 경우 resultType 이 아닌 resultMap을 사용 -->
	<resultMap id="BoardResultMap" type="com.player0.app.model.BoardVo">
		<id property="brd_no" column="brd_no" />
		<result property="category_cd" column="category_cd" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="tag" column="tag" />
		<result property="view_cnt" column="view_cnt" />
		<result property="reply_cnt" column="reply_cnt" />
		<result property="user_id" column="user_id" />
		<result property="reg_date" column="reg_date" />
		<result property="edit_date" column="edit_date" />
	</resultMap>

	<select id="boardReList" resultMap="BoardReResultMap">
		SELECT
		brd_re_no
		, brd_no
		, re_content
		, user_id
		, reg_date
		, edit_date
		FROM general_board_reply
		WHERE brd_no = #{brdNo}
		ORDER BY brd_re_no
	</select>

	<insert id="boardReWrite">
		INSERT INTO
		general_board_reply (
		brd_no
		, re_content
		, user_id
		, reg_date
		, edit_date
		) VALUES (
		#{brdNo}
		, #{reContent}
		, #{userId}
		, SYSDATE
		, SYSDATE
		)
	</insert>

	<update id="boardReUpdate">
		UPDATE general_board_reply
		SET
		re_content = #{reContent}
		, edit_date = SYSDATE
		WHERE brd_re_no = #{brdReNo}
	</update>

	<delete id="boardReDelete">
		DELETE FROM general_board_reply
		WHERE brd_re_no = #{brdReNo}
	</delete>

	<select id="replyList" resultMap="BoardReResultMap">
		SELECT
		brd_re_no
		, brd_no
		, re_content
		, user_id
		, reg_date
		, edit_date
		FROM
		general_board_reply
		WHERE brd_no = #{brdNo}
		ORDER BY brd_re_no
		OFFSET #{criteria.startPage} ROWS
		FETCH NEXT #{criteria.perPageNum} ROWS ONLY
	</select>

	<select id="countReplies" resultType="int">
		SELECT COUNT(brd_no)
		FROM general_board_reply
		WHERE brd_no = #{brdNo}
	</select>

	<!-- property:VO항목명, column:DB컬럼명 -->
	<resultMap id="BoardReResultMap"
		type="com.player0.app.model.BoardReVo">
		<id property="brdReNo" column="brd_re_no" />
		<result property="brdNo" column="brd_no" />
		<result property="reContent" column="re_content" />
		<result property="userId" column="user_id" />
		<result property="regDate" column="reg_date" />
		<result property="editDate" column="edit_date" />
	</resultMap>

</mapper>